@font-face {
   font-family: 'ofont.ru_PF DinDisplay Pro';
   font-display: swap;
   src: url('file:///C:/Users/PC/AppData/Local/Mobirise.com/Mobirise/projects/project-2023-09-27_132754/fonts/ofont.ru_PF%20DinDisplay%20Pro/font.ttf');
}
