@font-face {
   font-family: 'RobotoFlex[slnt,wdth,wght,opsz]';
   font-display: swap;
   src: url('file:///C:/Users/PC/AppData/Local/Mobirise.com/Mobirise/projects/project-2023-09-27_132754/fonts/RobotoFlex%5Bslnt,wdth,wght,opsz%5D/font.ttf');
}
